.navbar {
    width: 100%;
    height: 5rem;
    background-color: #7f4924;
    z-index: 1000;
    transition: background-color 0.3s ease, height 0.3s ease;
}

.navbar.small {
    height: 3rem;
}

.navbar-collapse.show {
    background-color: #7f4924;
}

@media (max-width: 991px) {
    .navbar {
        height: auto !important;
    }
}

.navbar-brand {
    font-size: 2rem !important;
    font-weight: 400 !important;
    color: #e8dacc !important;
}

.navbar-toggler{
    color: #e8dacc !important;
}

.nav-item>a:hover,
.nav-item>a:active {
    text-decoration: underline;
}