.footer-container {
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-around;
}

.footer-container > ul {
    display: flex;
    flex-direction: column;
    justify-self: start;
    list-style: none;
}

.footer-container > ul > li.header {
    font-size: 1rem;
    font-weight: 400;
}
