*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Day theme styles */
.app.day {
  background-color: #ffffff;
  color: #000000;
}

/* Dusk theme styles */
.app.dusk {
  background-color: #333333;
  color: #ffffff;
}

.display-container{
  position: absolute;
  top: 5rem;
  height: calc(100vh - 5rem) ;
}

.display-container.small {
  height: calc(100vh - 3rem) ;
  top: 3rem;
}